*{
    margin: 0px;
    padding: 0px;
}
.boss{
    width: 100%;
    background-color: gray;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.staff{
    height: 250px;
    width: 15%;
    background-color: red;
    display: inline-block;
}
.seller{
    height: 280px;
    width: 100%;
    background-color: black;
    display: flex;
}
.buyer{
    height: 240px;
    width: 20%;
    background-color: grey;
    display: inline-block;
    margin-left: 4%;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin: auto;             i wanted to use auto but first i needed to ask you should i use it? */